.DS_Store
.dart_tool/

.packages
.pub/

build/
*.iml
.idea/
.gradle/
.vscode/

android/.classpath
android/.project
android/.settings/org.eclipse.buildship.core.prefs
example/android/.project
example/android/.settings/org.eclipse.buildship.core.prefs
example/android/app/.classpath
example/android/app/.project
example/android/app/.settings/org.eclipse.buildship.core.prefs
